<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>LanguaLlama</h1>
    <p class="lead">Learn something something</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">
  <h1>LanguaLlama</h1>
  <p>Real conversations. Real connections. Real education.</p>

  <p>LanguaLlama wants to make learning a new language as natural and interactive as possible. Using LanguaLlama will make tackling that language you always wanted to learn a fun and easy task.</p>

  <p>The application is designed to connect users to native-speakers of the language they desire to learn, no matter his or her location. Through everyday conversations with individuals, the user will be able to build their language repertoire.</p>

  <p>Current language-learning applications don’t utilize peer-to-peer learning like LanguaLlama. Immediate immersion enables the user to build skills and learn every day phrases in a short period of time.This naturalistic approach to learning a foreign language has proven to be the most effective.</p>



  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>

<footer class="footer">
  <div class="container">
      <p>
        <a href="http://www.1871.com/">❤ Campus 1871</a>
      </p>
  </div>
</footer>
